<div class="yslider">
<ul>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_mcdk_ss_01.webp" alt="Discouraged Workers MCDK Screenshot 01" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_mcdk_ss_02.webp" alt="Discouraged Workers MCDK Screenshot 02" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_mcdk_ss_03.webp" alt="Discouraged Workers MCDK Screenshot 03" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_mcdk_ss_04.webp" alt="Discouraged Workers MCDK Screenshot 04" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_mcdk_ss_05.webp" alt="Discouraged Workers MCDK Screenshot 05" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_mcdk_ss_06.webp" alt="Discouraged Workers MCDK Screenshot 06" /></li>
</ul>

</div>