<div class="yslider">
<ul>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_384650_ss_1.webp" alt="Discouraged Workers Digital Concept Book Screenshot 01" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_384650_ss_koreana_2.webp" alt="Discouraged Workers Digital Concept Book Screenshot 02" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_384650_ss_koreana_3.webp" alt="Discouraged Workers Digital Concept Book Screenshot 03" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_384650_ss_koreana_4.webp" alt="Discouraged Workers Digital Concept Book Screenshot 04" /></li>
  <li><img src="https://yggdrasilstudio-cdn.sirv.com/lee_yunseok/2018/11/discouraged_workers_384650_ss_koreana_5.webp" alt="Discouraged Workers Digital Concept Book Screenshot 05" /></li>
</ul>

</div>